# Vim.
*.swp

# OSX
.DS_Store

# Npm modules.
node_modules

# Vendored javascript modules.
test/vendor

# Build output.
lib/dropbox.js
lib/dropbox.min.js
test/js
tmp/*.js

# Node packaging output.
dropbox-*.tgz

# Login credentials used for testing.
test/.token
